.navbar-custom.is-fixed {
    z-index: 999;
}

.gallery-container header
{
    display: table;

    width: 100%;
    height: 370px;

    background-image: url('http://ohds8sy3t.bkt.clouddn.com/images/hexo/nn1hsdtkdlw-kovalev.jpg');
    background-size: cover;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a,
.bg-header h1,
.bg-header h2
{
    color: #000;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #000;
}

.gallery-container .header-title
{
    display: table-cell;

    text-align: center;
    vertical-align: middle;
}
.gallery-container .header-title > h1
{
    letter-spacing: 2px;

    text-shadow: 0 0 10px rgba(15, 15, 15, .3);
}


.gallery
{
    position: relative;

    overflow: hidden;

    height: 600px;
    margin-top: 50px;

    border: 10px solid #8b8989;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}
.gallery figure.gallery-images
{
    position: absolute;

    width: 200px;
    height: auto;

    cursor: pointer;
    /* transition: transform .5s; */

    border: 10px solid #fff;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}
figure.gallery-images img,
figure.gallery-images figcaption
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
figure.gallery-images img
{
    width: 100%;
    height: auto;
}
figure.gallery-images figcaption
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    padding: 10px;

    width: 100%;
    height: 100%;

    letter-spacing: 2px;
    font-size: 12px;  
    color:  #fff;
    background-color: #333;
}
figure.gallery-images figcaption>p {
    margin: 0;
}

/* 遮罩层样式 */
.wrap-div
{
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .37);
}

.is-visible
{
    -webkit-transform: rotateY(0);
       -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
         -o-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-animation: cd-rotate .5s;
       -moz-animation: cd-rotate .5s;
            animation: cd-rotate .5s;
}
.is-hidden
{
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-animation: cd-rotate-inverse .5s;
       -moz-animation: cd-rotate-inverse .5s;
            animation: cd-rotate-inverse .5s;

    opacity: 0;
}

@-webkit-keyframes cd-rotate
{
    0%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }

    70%
    {
        /* this creates the bounce effect */
        transform: perspective(800px) rotateY(200deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(180deg);

        opacity: 1;
    }
}
@keyframes cd-rotate
{
    0%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }

    70%
    {
        /* this creates the bounce effect */
        transform: perspective(800px) rotateY(200deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(180deg);

        opacity: 1;
    }
}
@-moz-keyframes cd-rotate
{
    0%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }

    70%
    {
        /* this creates the bounce effect */
        transform: perspective(800px) rotateY(200deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(180deg);

        opacity: 1;
    }
}
@-ms-keyframes cd-rotate
{
    0%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }

    70%
    {
        /* this creates the bounce effect */
        transform: perspective(800px) rotateY(200deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(180deg);

        opacity: 1;
    }
}
@-webkit-keyframes cd-rotate-inverse
{
    0%
    {
        transform: perspective(800px) rotateY(-180deg);

        opacity: 1;
    }

    70%
    {
        transform: perspective(800px) rotateY(20deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }
}
@-moz-keyframes cd-rotate-inverse
{
    0%
    {
        transform: perspective(800px) rotateY(-180deg);

        opacity: 1;
    }

    70%
    {
        transform: perspective(800px) rotateY(20deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }
}
@-ms-keyframes cd-rotate-inverse
{
    0%
    {
        transform: perspective(800px) rotateY(-180deg);

        opacity: 1;
    }

    70%
    {
        transform: perspective(800px) rotateY(20deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }
}
@keyframes cd-rotate-inverse
{
    0%
    {
        transform: perspective(800px) rotateY(-180deg);

        opacity: 1;
    }

    70%
    {
        transform: perspective(800px) rotateY(20deg);

        opacity: .5;
    }

    100%
    {
        transform: perspective(800px) rotateY(0);

        opacity: 0;
    }
}
