/*整个作品展示区*/
.works_gallery {
    text-align: center;
}
.works_gallery figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin-top: 100px;
    padding: 0;
    /*width: 300px;*/
    height: 300px;
    background: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}

.works_gallery figure img {
    position: relative;
    display: block;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
}

.works_gallery figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.works_gallery figure figcaption::before,
.works_gallery figure figcaption::after {
    pointer-events: none;
}

.works_gallery figure figcaption,
.works_gallery figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.works_gallery figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.works_gallery figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.works_gallery figure h2 span {
    font-weight: 800;
}

.works_gallery figure h2,
.works_gallery figure p {
    margin: 0;
}

.works_gallery figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure img {
    width: auto;
    height: 100px;
}

/*gallery-1*/
figure.gallery-1 img {
    opacity: 0.8;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

figure.gallery-1 figcaption {
    top: auto;
    bottom: 0;
    height: 50%;
    text-align: left;
}

figure.gallery-1 h2,
figure.gallery-1 p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.gallery-1 h2 {
    line-height: 40px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.gallery-1 p {
    color: rgba(255,255,255,0.6);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.gallery-1:hover img,
figure.gallery-1:hover p {
    opacity: 1;
}

figure.gallery-1:hover img,
figure.gallery-1:hover h2,
figure.gallery-1:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.gallery-1:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

/*gallery-2*/
figure.gallery-2 figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.gallery-2 h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    opacity: 0;
    letter-spacing: 0.5em;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.gallery-2 figcaption::before,
figure.gallery-2 p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.gallery-2 p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    letter-spacing: 0.25em;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.gallery-2:hover h2 {
    color: #fff;
    opacity: 1;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.gallery-2:hover figcaption::before ,
figure.gallery-2:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*gallery-3*/
figure.gallery-3 img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

figure.gallery-3:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.gallery-3 figcaption {
    padding: 3em;
}

figure.gallery-3 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.gallery-3 figcaption::before,
figure.gallery-3 p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.gallery-3 h2 {
    padding: 20% 0 20px 0;
}

figure.gallery-3 p {
    margin: 0 auto;
    max-width: 200px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.gallery-3:hover figcaption::before,
figure.gallery-3:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*gallery-4*/
figure.gallery-4 {
    background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
    background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%);
}

figure.gallery-4 img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.gallery-4 img {
    opacity: 0.4;
}

figure.gallery-4 figcaption::after {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    border: 7px solid #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

figure.gallery-4:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.gallery-4 figcaption {
    padding: 3em;
    text-align: left;
}

figure.gallery-4 p {
    position: absolute;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
}

figure.gallery-4:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*gallery-5*/
figure.gallery-5 {
    background: #2e5d5a;
}

figure.gallery-5 img {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.gallery-5:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

figure.gallery-5 h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}

figure.gallery-5 p {
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}

figure.gallery-5:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*gallery-6*/
figure.gallery-6 {
    background: #18a367;
}

figure.gallery-6 img {
    min-width: 100%;
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}

figure.gallery-6 figcaption {
    padding: 3em;
}

figure.gallery-6 figcaption::before,
figure.gallery-6 figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

figure.gallery-6 figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.gallery-6 figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.gallery-6 h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.gallery-6 p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.gallery-6 img,
figure.gallery-6 h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.gallery-6 img,
figure.gallery-6 figcaption::before,
figure.gallery-6 figcaption::after,
figure.gallery-6 p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.gallery-6:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.gallery-6:hover figcaption::before,
figure.gallery-6:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.gallery-6:hover h2,
figure.gallery-6:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.gallery-6:hover figcaption::after,
figure.gallery-6:hover h2,
figure.gallery-6:hover p,
figure.gallery-6:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

/*gallery-md*/
.gallery-md figure {
    margin-top: 100px;
    padding: 0;
    /* cursor: pointer; */
    border-radius: 2px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}
.gallery-md img {
    width: 100%;
    height: auto;
}
.gallery-md figcaption {
    padding: 14px 0 12px;
    font-size: 1em;
    text-align: center;
}

/* 整页的概况（原来在 html 内的 style） */
header .bg-header {
    height: 460px;
    background-image: url("http://ohds8sy3t.bkt.clouddn.com/images/hexo/nn1hsdtkdlw-kovalev.jpg");
    background-size: cover;
}

/*头像*/
.bg-header .avatar img {
    border-radius: 50%;
    margin-top: 100px;
    max-width: 170px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a,
.bg-header h1,
.bg-header h2 {
    color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

/*姓名*/
.bg-header h1 {
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(15, 15, 15, .3);
}

/*描述*/
.bg-header h2 {
    font-size: 18px;
    margin-top: 12px;
}

/* my-gallery */
.my-gallery {
    margin-top: 100px;
    padding: 0;
    border-radius: 2px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}

.my-gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.my-gallery>span {
    padding: 8px 0;
    font-size:  20px;
    letter-spacing: 1px;
}
.my-gallery>span.left {
    text-align: left;
}
.my-gallery>span.right {
    float: right;
    color: #aaa;
}

.my-gallery>p {
    margin:  8px 0;
    font-size: 18px;
    letter-spacing: 1px;
}